<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark p-0 ps-5">
    <div class="container w-75 ps-5 pe-5">
        <a class="navbar-brand ms-5" href="#">ANIMAL and THEIR FAMILIES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-0 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href={% url "all_animals" %}>ANIMALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url "all_families" %}>FAMILIES</a>
            </li>
        </ul>


    </div>
</nav>


