@import url('https://fonts.cdnfonts.com/css/sega-logo-font');
body {
  
    margin: 0px;
    padding: 0px;

   
  
  } 
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
  
  }

  .header {
    
    color: rgb(102, 96, 210);
    color: linear-gradient(278deg, rgba(2,0,36,1) 0%, rgba(223,255,176,1) 19%, rgba(0,255,205,1) 61%);
    font-family: 'SEGA LOGO FONT', sans-serif;
  }
  