body {
  margin: 0px;
  padding: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,93,1) 11%, rgba(0,212,255,1) 86%);
 

} 
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start ;
  

}
  