{% extends 'base.html' %}
{% block title %}Hello renters!{% endblock title %}
{% block content %}


<h1>List of closed rentals!</h1> 

    <table border = "1px solid black" width="50%">
        <tr>
          <th>ID</th>
          <th>Start date</th>
          <th>Return date</th>
        </tr>
        {% for rental in page_obj %}
        <tr>
          <td><a href='/rentals/{{rental.id}}'>{{rental.id}}</a></td>
          <td>{{rental.start_date}}</td>
          <td>{{rental.return_date}}</td>
        </tr>
        {% endfor %}
        
      </table>

{% include 'paginator.html' %}

{% endblock content %}