{% extends 'base.html' %}
{% block title %}Hello renters!{% endblock title %}
{% block content %}

<h1>{{customer.first_name}} {{customer.last_name}}</h1> 

<hr>
<h2> Customer address:</h2>
<h3>{{ customer.address|linebreaks }}</h3>
<hr>

<h2>{{customer.first_name}}'s  open rentals!</h2>
    <ul>
    {% for rental in retnals_open %}
    <li>
        <h4><a href='/rentals/{{rental.id}}'>{{rental}}</a></h4>
    </li>
    {% endfor %}
    </ul>
<br>
<hr>

<h2>{{customer.first_name}}'s closed rental!</h2>
    <ul>
    {% for rental in rentals_closed %}
    <li>
        <h4><a href='/rentals/{{rental.id}}'>{{rental}}</a></h4>
    </li>
    {% endfor %}
    </ul>

</ul>



{% endblock content %}