{% extends 'base.html' %}
{% block title %}Hello renters!{% endblock title %}
{% block content %}


<h1>Rentals details</h1>
<br><br><hr> 

<h2>Rental ID:            {{rental.id}}</h1>
<h2>Who rent:    <a href='/all_customers/{{customer.id}}'>{{customer}}</a> </h2>
<h2>What was rented:  <a href='/all_vehicles/{{vehicle.id}}'>{{vehicle}}, id: {{vehicle.id}}</a> </h2>
<h2>Start date of the rent: {{rental.start_date}} 
<h2>End of the rent:       {{return_date}}
{% comment %} {{last_rental}} {% endcomment %}



{% endblock content %}