{% extends 'base.html' %}
{% block title %}Add address{% endblock title %}
{% block content %}
    {{form}}
    <form method="POST">
        {% csrf_token %}
        
        <div type='submit' name='mybutton' value='but1' id='but1'>but1</div>
        <button type='submit' name='mybutton' value='but2' oncontextmenu='myFunction(e)'>but2</button>
        <button type='submit' name='mybutton' value='but3'>but3</button>

    </form>

    <script>
        document.getElementById("but1").oncontextmenu = function (event) {
            event.target.click();
            return false;
        }
        </script>
 
{% endblock content %}