<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One animals</title>
</head>
<body>
    <h2><a href={% url "all_animals" %}> Back </a></h2>
    
    <hr>
    <h2><strong>Name</strong>: {{animal.name}}     </h2>
    <h2><strong>Legs</strong>: {{animal.legs}}     </h2>
    <h2><strong>Weight</strong>: {{animal.weight}}     </h2>
    <h2><strong>Height</strong>: {{animal.height}}     </h2>
    <h2><strong>Speed</strong>: {{animal.speed}}     </h2>
    <h2><strong>Family</strong>: {{animal.family}}     </h2>
   
    {% load static %}
    {% with animal.image as imgurl%}
    <img src="{% static animal.image %}" alt="Hi!" Height=400 width=600>
    {% endwith %}
    

</body> 
</html>