* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: inline-flex;
    width: 100vw;
    font-size: 1.2rem;
    font-weight: 600;
    text-align:center; 
    vertical-align: middle;
}

.header-text {
    color: rgb(90, 90, 90);
    margin: 3px 0px 3px 40px;   
}

.signin {
    width: 100px;
    background-color: rgb(128, 128, 228);
    color: rgb(50, 50, 50);
    border:none;
    font-size: 16px;
    padding: 2px;
    font-weight: 600;
    border-radius: 5px;
    margin: 2px 40px 2px auto;
}

.main{
    width: 100vw;
    height: 50vh; 
    text-align: center;
    background-image: url("bg.jpg");
    background-size:cover;
    background-position: 50% 60%;;  
}

.center-cont {
    margin-top: 70px;
    height: 180px;
    width: 500px;
    display: inline-block;
}

.name {
    color: rgb(244, 248, 250);
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
}

.subscribe_textbox{
    color: rgb(169, 169, 169);
    font-size: 16px;
    font-weight: 600;
}

.signup {
    height: 23px;
    width: 145px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(128, 128, 228);
    color: rgb(50, 50, 50);
    border:none;
    border-radius: 4px;
}

.footer {
    background-color: rgb(176, 218, 237);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 40vh;
    text-align:center; 
}

.footer-block {
    margin: 20px auto;
    width: 140px;
    height: 100px;
}
 
.icon {    
    font-size: 35px; 
    color:  rgb(128, 128, 228);
}

.big-text {
    color: rgb(18, 18, 18);
    font-size: 18px;
    font-weight: 600;
    height: 24px;
    margin-bottom: 22px;
}

.small-text {
    font-size: 12px;
    color: rgb(118, 118, 118);
    font-weight: 200;
    height: 38px;
}
