**/*.pyc 
*local_env
*node_modules
Week-3/Day-3/XP-exercise/__pycache__/xp_exercise.cpython-311.pyc
Week-4/Day-4/local_env/
Week-3/Day-2/XP-ninja/feeld.json
Week-4/ubuntu_test/ubuntu_venv/
Week-4/Day-4/unix_venv/pyvenv.cfg
Week-4/Day-4/unix_venv/bin/python
Week-4/Day-4/unix_venv/bin/python3
Week-4/Day-4/unix_venv/bin/python3.10
Week-5/Day-1/django_env/
Week-5/Day-1/.idea/
Week-4/Day-4/local_env/
Week-5/Day-1/animal-info/local_venv/
