* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.grid-cont {
    position: absolute;
    top:50px;
    left:50px;
    height: calc(16 * 30px + 36px);
    width: calc(16 * 30px  + 36px);
    padding: 2px;
    display: grid;
    grid-template-rows: repeat(16, 30px);
    grid-template-columns: repeat(16, 30px);
    border: 2px solid black;
    gap: 2px
    
    }

.block {
    width: 30px;
    height: 30px;
}

.col1 {
    background-color: rgb(212, 212, 212);
}

.col2 {
    background-color: rgb(162, 162, 162);
}
.col3 {
    background-color: rgb(102, 102, 102);
}

.col4 {
    background-color: rgb(52, 52, 52);
}