body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
}

.palette {
    background-color: aqua;
    display: block;
    width: 200px;
    
    height: 100vh;


}

.drawfield {
    background-color: bisque;
    display: block;
    left:100px;
    width: 100%;
    height: 100vh;
    
}