<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">IMDB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex me-auto">
          <a class="nav-link active" aria-current="page" href={% url 'homepage' %}>Home</a>
          <a class="nav-link active" aria-current="page" href="#">Welcome</a>
          <a class="nav-link active" aria-current="page" href="#">Profile</a>
          <a class="nav-link active" aria-current="page" href={% url 'add_director' %}>Add a director</a>
          <a class="nav-link active" aria-current="page" href={% url 'add_film' %}>Add a film</a>
        </div>
        <div class="navbar-nav d-flex me-5">
            <a class="nav-link active" aria-current="page" href="#">Left</a>
            <a class="nav-link active me-6" aria-current="page" href="#">Left2</a>
          </div>
      </div>
    </div>
  </nav>