.quote {
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-color:rgb(255, 255, 255);
    top: 15%;
    left:10%;
    border-radius: 10px;

}

.text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem ;
    font-weight: 700;
    padding: 20px;
    position: relative;
    
    transition: ease-in 1s; 
    
}

.author {
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    text-align: right;
    margin: 20px;
}
.button {
    position: absolute;
    top:230px;
    left: 370px;
    color:aliceblue;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;

}

.fadeIn {
    opacity: 0;
    display: block;
    animation: slidein 1s ease-out forwards;
  }
  
  @keyframes slidein {
    0% {
      opacity: 0;
      transform: translateY(-65px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }