<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One animals</title>
</head>
<body>
    <h2><strong>Name</strong>: {{animal.name}}     </h2>
    <h2><strong>Legs</strong>: {{animal.legs}}     </h2>
    <h2><strong>Weight</strong>: {{animal.weight}}     </h2>
    <h2><strong>Height</strong>: {{animal.height}}     </h2>
    <h2><strong>Speed</strong>: {{animal.speed}}     </h2>
    <h2><strong>Family</strong>: {{animal.family}}     </h2>
    

</body>
</html>